{% extends "layout.njk" %}
{% block content %}
<main>
    <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; justify-content:center ; display: flex; font-size: 6rem; ">
        418 I'm a teapot
    </h1>
</main>
{% endblock %}